page-home {

    //CARD 
    .scroll-content {
        padding: 0px !important;
    }
    .card-md {
        border-radius: 15px !important;
    }
    .card-header-md {
        font-size: 1.6rem;
        color: #222;
        padding: 16px;
        text-align: center !important;
    }

   // DIV TEXT CENTER
    .texto-center {
        text-align: center;
        padding: 9px;
    }

    //Tamanho icones
    ion-icon {
        display: inline-block;
        font-size: 3.2em;
    }

    //padding esquerda 
    .padding-esquerda{
        padding-left: 5px;
    }
    //padding-direita
    .padding-direita{
        padding-right: 18px;
    }
    //colors 
    .verde{
        color: #29d429;
    }

    //ocultado
    .ocultado{
        border-radius: 49px;
        background: #222222;
    }


}
