
.caixa-login{
    top: 6%;
    border: 3px solid white;
    border-radius: 11px;
    background: white;
    padding: 20px;
    margin: 0px;
    position: relative;
}

.chip-md {
  width: 99%;
  color:white;
}

.error{
    color: #ff0000;
    font-size: 12px;
    text-align:center !important;
}

.backgroung-grad {
    background-color: #e07023;
    background-image: linear-gradient(141deg, #d88155 0%, #e07023 51%, #d88221 75%);
    color: white;
    opacity: 0.95;
}

ion-navbar{
    border-radius: 16px;
    height: 32px;
    font-size: 13px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.87);
    background: rgba(0, 0, 0, 0.12)!important;
    margin: 2px 0;
}
.toolbar-background{
    background: rgba(0, 0, 0, 0.12)!important;
    // color:white;
}

.back-button{
    color:white;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image:none!important;
}

.toolbar-title{
    color:white;
}